
.panel {
	padding: 20px;
	height: 100px;
	background-color: #302013;
	color: white;
	margin-bottom: 100px;
}
.you-win h3 {
	text-align: center;
}
#play-again{
	margin-left: 550px;
	height: 30px;
	margin-top: 40px;
}
h1 {
	text-align: center;
}
h3 {
	margin-top: 50px;
	margin-left: 10px;
}
.towers-align {
	margin: auto;
	width: 70%;
}
.towers {
	height: 300px;
	width: 300px;
	margin: 10px;
	padding-bottom: 10px;
	background-color: #d8ecf9;
	display: inline-flex;
	flex-direction: column-reverse;
	align-items: center;
}

#block1{
	width: 150px;

}

#block2{
	width: 100px;

}

#block3{
	width: 75px;
}

.blocks {
	border: 1px solid white;
	height: 30px;
	margin: 2px;
	background-color: #302013;
}

.selected{
	background: green;
}

.you-win {
	display: none;
}
